/*This is the CSS page for our final template.*/

p {
	font-family: 'Times New Roman', serif;
	font-size: 20px;
}

.header {
	height: auto;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	font-family: 'Oswald', serif;
}

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #080357;
	color: #D3D3D3;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  color: slategray;
}

h4 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Oswald', serif;
}

h3 {
	font-family: 'Oswald', serif;
	font-size: 30px;
}

img {
	float: right;
  	margin-left: auto;
  	margin-right: auto;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*Don't worry about this section yet*/
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
}